@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Danh sách chuyến bay</h1>
    <div class="card mb-4">
    </div>
    <div class="card mb-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sân bay đến</th>
                            <th>Sân bay đi</th>
                            <th>Ngày khởi hành</th>
                            <th>Giờ khởi hành</th>
                            <th>Thời gian bay</th>
                            <th>Thời gian dừng tối thiểu</th>
                            <th>Số ghế còn lại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.danhsachchuyenbay)
                        {
                            <tr>
                                <td>@item.SanbayDi</td>
                                <td>@item.SanbayDen</td>
                                <td>@item.NgayKhoiHanh</td>
                                <td>@item.GioKhoiHanh</td>
                                <td>@item.ThoiGianBay</td>
                                <td>@item.ThoiGianDungToiThieu</td>
                                <td>@item.SoGheConLai</td>
                                <td>
                                    <button style='margin-right:16px' class="btn btn-dark">@Html.ActionLink("Vé chuyến bay", "VeChuyenBay", new { id = item.MaCB})</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>